@font-face {
    font-family: 'General Sans';
    src: url('fonts/GeneralSans-Regular.woff2') format('woff2'),
         url('fonts/GeneralSans-Regular.woff') format('woff'),
         url('fonts/GeneralSans-Regular.ttf') format('truetype');
  
  }
  
@font-face {
    font-family: 'General Sans-Bold';
    src: url('fonts/GeneralSans-Bold.woff2') format('woff2'),
         url('fonts/GeneralSans-Bold.woff') format('woff'),
         url('fonts/GeneralSans-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'General Sans-Semibold';
    src: url('fonts/GeneralSans-Semibold.woff2') format('woff2'),
         url('fonts/GeneralSans-Semibold.woff') format('woff'),
         url('fonts/GeneralSans-Semibold.ttf') format('truetype');
    }
  
  @font-face {
      font-family: 'Roboto';
      src: url('fonts/Roboto-Regular.ttf') format('truetype');
      }

@font-face {
    font-family: 'General Sans';
    src: url('fonts/GeneralSans-Regular.woff2') format('woff2'),
    url('fonts/GeneralSans-Regular.woff') format('woff'),
    url('fonts/GeneralSans-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'General Sans-Semibold';
    src: url('fonts/GeneralSans-Semibold.woff2') format('woff2'),
    url('fonts/GeneralSans-Semibold.woff') format('woff'),
    url('fonts/GeneralSans-Semibold.ttf') format('truetype');
}

/* Define table styles */
table {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table th, table td {
    border-radius: 5px;
    border: none;
    padding: 20px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Define link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Define heading styles */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

/* Define "Add New Data" link styles */
.add-link {
    display: block;
    margin: 20px auto;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
}

.add-link:hover {
    background-color: #0062cc;
}

/* Set background color for odd rows */
table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Define table row hover effect */
table tr:hover {
    background-color: #f2f2f2;
}

/* Define table container styles */
.table-container {
    border-radius: 5px;
    max-width: 1000px;
    margin: auto auto;
}

.hiddenText{ font-size: 0}             /* this makes span real content zero size width & height */
.hiddenText::before{ content: '∗∗∗∗∗'; font-size: initial}

.HiddenText{ color: transparent; }    /* span will be as long as real content + ::before */
.HiddenText::before{ content: '∗∗∗∗∗'; color: initial}

body {
    border-radius: 5px;
    font-family: 'General Sans';
    margin-top: 150px; /* Add margin for navigation bar */
}


  
  .end{
    margin-bottom: 10.5vw;
  }

