@font-face {
    font-family: 'General Sans';
    src: url('fonts/GeneralSans-Regular.woff2') format('woff2'),
         url('fonts/GeneralSans-Regular.woff') format('woff'),
         url('fonts/GeneralSans-Regular.ttf') format('truetype');
  
  }
  
@font-face {
    font-family: 'General Sans-Bold';
    src: url('fonts/GeneralSans-Bold.woff2') format('woff2'),
         url('fonts/GeneralSans-Bold.woff') format('woff'),
         url('fonts/GeneralSans-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'General Sans-Semibold';
    src: url('fonts/GeneralSans-Semibold.woff2') format('woff2'),
         url('fonts/GeneralSans-Semibold.woff') format('woff'),
         url('fonts/GeneralSans-Semibold.ttf') format('truetype');
    }
  
  @font-face {
      font-family: 'Roboto';
      src: url('fonts/Roboto-Regular.ttf') format('truetype');
      }

table {
  width: 90%;
  border: 0;
  border-spacing: 30px;
}

.view-user-heading{
    width: 100%;
    font-family: 'General Sans-Semibold';
    text-align: center;
    margin-top: 11%;
    margin-bottom: 40px;
    color: #033296
  }


.view-user-container{
    font-family: 'Roboto';
    text-align: left;
    
  }  

.view-user-table{
    display: flex;
    justify-content: center;
    align-items: center;
  }  


  
  .end{
    margin-bottom: 10.5vw;
  }

